# Resolução desafio do modulo 2
## Condenation

Fazendo os importes necessarios

In [ ]:
import pandas as pd
import numpy as np

Importando o arquivo

In [12]:
df_friday = pd.read_csv("black_friday.csv")
df_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [1]:
df_friday.info()

NameError: name 'df_friday' is not defined

In [14]:
df_friday.isna().any()

User_ID                       False
Product_ID                    False
Gender                        False
Age                           False
Occupation                    False
City_Category                 False
Stay_In_Current_City_Years    False
Marital_Status                False
Product_Category_1            False
Product_Category_2             True
Product_Category_3             True
Purchase                      False
dtype: bool

# Questão 1
Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [16]:
def q1():
    return df_friday.shape

q1()

(537577, 12)

# Questão 2
Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [22]:
def q2():
    return df_friday.query('Gender == "F" & Age == "26-35"').shape[0]

q2()

49348

# Questão 3
Quantos usuários únicos há no dataset? Responda como um único escalar.

In [24]:
def q3():
    return df_friday.User_ID.nunique()

q3()

5891

# Questão 4
Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [26]:
def q4():
    return df_friday.dtypes.nunique()

q4()

3

# Questão 5
Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [38]:
def q5():
    #return df_friday.isna().sum()/len(df_friday)
    return (df_friday.shape[0] - df_friday.dropna().shape[0]) / df_friday.shape[0]
    
q5()

0.6944102891306734

# Questão 6 
Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [46]:
def q6():
    return int(df_friday.isna().sum().max())
    #return df_friday.shape[0] - df_friday.dropna().shape[0]

q6()

373299

# Questão 7
Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [78]:
def q7():
    return float(df_friday.Product_Category_3.mode())

q7()

16.0

# Questão 8
Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [52]:
def q8():
    normalizacao = (df_friday['Purchase'] - df_friday['Purchase'].min()) / (df_friday['Purchase'].max() - df_friday['Purchase'].min())
    return float(normalizacao.mean())

q8()

0.38479390362696736

# Questão 9
Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [57]:
def q9():
    padronizacao = (df_friday['Purchase'] - df_friday['Purchase'].mean()) / df_friday['Purchase'].std()
    #return padronizacao[(padronizacao < 1) & (padronizacao > -1)].shape[0]
    return int(padronizacao.between(-1, 1).sum())

q9()

348631

# Questão 10
Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`)

In [59]:
len(df_friday.query("Product_Category_2 == 'NaN'"))

166986

In [61]:
len(df_friday.query("Product_Category_2 == 'NaN'"))

166986

In [63]:
len(df_friday.query("Product_Category_2 == 'NaN' & Product_Category_3 == 'NaN'"))

166986

In [65]:

def q10():
    return bool(len(df_friday.query("Product_Category_2 == 'NaN' & Product_Category_3 == 'NaN'")))

q10()

True