# Resolução desafio do modulo 3
## Condenation

Vamos importar os pacotes para iniciar nossa exploração

In [6]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import json

Importando o CSV

In [10]:
df_consumers = pd.read_csv("desafio1.csv")
df_consumers.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

O problema gira em torno de darmos os resultados da Média, Mediana, Moda e Desvio padrão.
Então é muito valido dar uma olhada para ver se nossos dados tem algum valor Null

In [12]:
df_consumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
RowNumber                   7000 non-null int64
id                          7000 non-null object
sobrenome                   7000 non-null object
pontuacao_credito           7000 non-null int64
estado_residencia           7000 non-null object
genero                      7000 non-null object
idade                       7000 non-null int64
nivel_estabilidade          7000 non-null int64
saldo_conta                 7000 non-null float64
numero_produtos             7000 non-null int64
possui_cartao_de_credito    7000 non-null int64
membro_ativo                7000 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

## Iniciando nossa análise

### Média

In [25]:
mean = df_consumers.groupby('estado_residencia')['pontuacao_credito'].mean()
mean

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

### Mediana

In [27]:
median = df_consumers.groupby('estado_residencia')['pontuacao_credito'].median()
median

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

### Moda

In [29]:
mode = df_consumers.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)
mode

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

### Desvio Padrão

In [31]:
std = df_consumers.groupby('estado_residencia')['pontuacao_credito'].std()
std

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [44]:
new_df = {
    state: {
        'media': mean[state],
        'mediana': median[state],
        'moda': mode[state],
        'desvio_padrao': std[state]
    } for state in mean.index
}
new_df

{'PR': {'media': 648.9612940496822,
  'mediana': 650,
  'moda': 850,
  'desvio_padrao': 98.60718591309755},
 'RS': {'media': 651.1051428571428,
  'mediana': 650,
  'moda': 850,
  'desvio_padrao': 95.1365984138358},
 'SC': {'media': 649.5376527422563,
  'mediana': 653,
  'moda': 850,
  'desvio_padrao': 97.23349279343314}}

Vamos transformar um data frame para poder ser visualizado de uma forma mais limpa

In [45]:
new_df = pd.DataFrame(new_df)
new_df

                       PR          RS          SC
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   95.136598   97.233493

Agora temos que passar para formato json

In [46]:
new_df.to_json('submission.json')

In [47]:
new_df

                       PR          RS          SC
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   95.136598   97.233493